* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  position: absolute;
  height: 100vh;
  width: 100vw;
}
#navbar {
  background: #262262;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 87px;
  padding-right: 20px;
  transition: all 0.7s ease-in;
}
#userdetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#userdetails .notification {
  display: none;
}

#avatar {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#avatar img {
  height: auto;
  width: 40px;
}
#username {
  padding: 0;
  margin: 0;
}
#username p {
  display: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
#logo {
  height: 80px;
  width: 80px;
}
#logo:hover {
  cursor: pointer;
}
#logo img {
  height: 80px;
  width: 80px;
}
#brandbox {
  display: flex;
  align-items: center;
  gap: 0px;
}
#brandname {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 140%;
  color: #f37821;
  position: absolute;
  left: 70px;
}
#brandname span {
  color: white;
}

#hamburger {
  color: #ffffff;
}
#desktop {
  display: none;
}
.down {
  color: white;
}
#title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  background: #f37821;
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0px;
  top: 133px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

main {
  padding: 20px;
  overflow-x: hidden;
  padding-bottom: 400px;
}
#container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

aside {
  display: none;
}
.iconify {
  cursor: pointer;
}
#name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 140%;
  color: #f37821;
  position: relative;
  top: 120px;
}
#container {
  position: relative;
  top: 160px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#container .title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #262262;
}
#container .title input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background: rgba(38, 34, 98, 0.1);
  border-radius: 10px;
  border: transparent;
  height: 46px;
}
#container .title input:focus {
  outline: solid 2px #f37821;
}
#container .title input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
  color: rgba(38, 34, 98, 0.6);
}
#container button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 80px;
  height: 40px;
  background: #f37821;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
  border: transparent;
}
#uploadedJobs {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #f37821;
  position: relative;
  top: 220px;
}
#jobsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  padding: 20px;
  background: rgba(243, 120, 33, 0.4);
  position: relative;
  top: 280px;
  width: 600%;
}
#catOne {
  display: flex;
  gap: 50px;
}
#card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 25px;
  background: #fafafa;
}
#card .buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
#card .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
#card .info .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #262262;
}
#card .info .name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: rgba(38, 34, 98, 0.8);
}
#card .info .location {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: rgba(38, 34, 98, 0.6);
}
#card .info .function {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: rgba(38, 34, 98, 0.8);
}
#save {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  gap: 10px;
}
#save .apply {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background: #f37821;
  border-radius: 5.05557px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
  border: solid;
}
#save .save {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  background: #adadad;
  border-radius: 5.05557px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
  border: transparent;
}
#save .save span {
  color: #ffffff;
}

@media all and (min-width: 375px) {
}
@media all and (min-width: 425px) {
  body {
    width: 100vw;
  }
  #brandbox {
    gap: 0px;
  }
  #navcta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    position: relative;
    right: 0;
  }
  #category {
    top: 0px;
  }
}
@media all and (min-width: 500px) {
  #userdetails {
    gap: 20px;
  }
  #username p {
    display: flex;
  }
  #category .title {
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }
}
@media all and (min-width: 576px) {
  #navcta .register {
    display: flex;
  }
  #navcta .login {
    display: flex;
  }
}
@media al and (min-width: 600px) {
}
@media all and (min-width: 700px) {
  #category {
    top: 0;
  }
}
@media (min-width: 768px) {
  body {
    height: auto;
  }
  #navbar {
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
  }
  #username {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }
  #avatar img {
    max-width: auto;
    height: 100%;
  }
  #title {
    display: none;
  }
  #name {
    left: 35%;
    top: 140px;
  }
  #container {
    left: 30%;
    top: 180px;
    width: 55%;
  }
  #uploadedJobs {
    left: 30%;
  }
  #jobsContainer {
    left: 30%;
    width: fit-content;
    flex-direction: column;
    gap: 20px;
  }
  #catOne {
    gap: 20px;
    flex-direction: column;
  }
  aside {
    display: block;
    position: fixed;
    width: 200px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(38, 34, 98, 0.8);
  }
  #bigContainer {
    position: fixed;
    width: 200px;
    height: auto;
    left: 0px;
    top: 160px;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
  }
  #bigContainer span {
    margin: 10px 0px;
    transition: all 0.5s ease-in;
  }
  #about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    width: 200px;
    height: 40px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    color: #ffffff;
    cursor: pointer;
  }
  #about:hover {
    background: #f8c097;
  }
  #expe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    width: 200px;
    height: 40px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    color: #ffffff;
    cursor: pointer;
  }
  #expe:hover {
    background: #f8c097;
  }
  #skill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    width: 200px;
    height: 40px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    color: #ffffff;
    background: #f37821;
  }

  #cert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    width: 200px;
    height: 40px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    color: #ffffff;
    cursor: pointer;
  }
  #cert:hover {
    background: #f8c097;
  }
  #contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    width: 200px;
    height: 40px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    color: #ffffff;
    cursor: pointer;
  }
  #contact:hover {
    background: #f8c097;
  }
  #category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;

    position: absolute;
    width: 50%;
    left: 30%;
    top: -50px;
  }
  #category .title {
    justify-content: flex-start;
  }
  #category .title p {
    width: 400px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 140%;
  }
}
@media all and (min-width: 992px) {
  body {
    height: auto;
  }
  #navbar {
    position: fixed;
  }
  #navcta {
    display: none;
  }
  #brandname {
    left: 90px;
  }

  #desktop {
    display: flex;
    align-items: center;
    position: absolute;
    left: 24%;
  }

  #desktop menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    margin-bottom: 0;
  }
  #desktop menu li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 20px;
  }
  #desktop menu a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  #desktop a:hover {
    color: #f37821;
  }

  #navbar {
    height: 100px;
    z-index: 10;
    padding-left: 20px;
  }

  #userdetails {
    position: absolute;
    left: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #username {
    height: auto;
  }
  #userdetails .notification {
    display: flex;
  }
  #hamburger {
    display: none;
  }
  .down {
    color: white;
  }
  aside {
    width: 300px;
    position: fixed;
    top: 0;
  }
  #bigContainer {
    width: auto;
    gap: 20px;
  }
  #bigContainer span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    width: 300px;
    padding: 20px;
    margin-bottom: 10px;
  }
  #name {
    left: 35%;
    top: 140px;
  }
  #container {
    left: 35%;
    top: 180px;
  }
  #uploadedJobs {
    left: 35%;
  }

  #jobsContainer {
    left: 35%;
    width: 55%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  #catOne {
    gap: 20px;
    flex-direction: column;
    justify-content: center;
  }
  #card {
    width: 30em;
  }
}
@media all and (min-width: 1200px) {
  #navbar {
    position: fixed;
  }
  #category {
    top: -50px;
  }
  aside {
    width: 30vw;
  }
  #bigContainer span {
    width: 30vw;
  }
  #category {
    width: 600px;
  }
}
@media all and (min-width: 1400px) {
  #navbar {
    position: fixed;
  }
}

@media all and (min-width: 1600) {
  #navbar {
    position: fixed;
  }
}
